.head .card-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
}

.title-word {
    background: #131313;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 97px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    margin-bottom: 160px;
}

.head .card-1 .img {
    padding: 65px 95px 108px;
    background: #F1f1f1;
    border-radius: 7px;
}

.head .card-1 .title h3 {
    letter-spacing: 10px;
    color: #D87D4A;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}

.head .card-1 .title h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.4285714626312256px;
    width: 445px;
    margin-bottom: 32px;
}

.head .card-1 .title p {
    width: 445px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
}

.head .card-1 .title button {
    padding: 15px 30px;
    margin-top: 40px;
    text-transform: uppercase;
    background: #D87D4A;
    color: #FFF;
    border: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;
    transition: all 0.3s;
}

.head .card-1 .title button:hover {
    background: #fbaf85;
}

.head .pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 160px;
}

.head .pages .body-img {
    object-fit: cover;
    background: transparent;
    position: absolute;
    margin-left: 113px;
    margin-top: -94px;
    box-shadow: 0px 80px 58px -53px rgb(0, 0, 0);
}

.head .pages .body-imgs {
    object-fit: cover;
    position: absolute;
    margin-left: 112px;
    margin-top: -67px;
}

.head .pages .page {
    position: relative;
    cursor: pointer;
}

.head .pages .page .card-page {
    /* margin-top: 36px; */
    background: #F1F1F1;
    padding: 116px 108px 30px;
    border-radius: 7px;
    text-align: center;
}



.head .pages .page .card-page h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.2857142686843872px;
}
.head .pages .page .card-page h4 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    transition: all 0.3s;
}

.head .pages .page:hover .card-page h4 {
    color: #D87D4A;
}